legend {
	font-size: 90%;
	padding-left: 1em;
	padding-right: 1em;
	background: #09C;
	color: #fff;
	font-style: normal;
}

input {
	font-weight: bold;
}

fieldset {
	margin-right: 2px;
	margin-left: 2px;
	padding: 5.6px 12px 10px 12px;
	border: 2px 2px 2px 2px;
}

.tip {
	font-size: 75%;
	font-weight: normal;
}

form {
	width: 275px;;
	background: -webkit-gradient(linear, bottom, left 35%, from(#CCCCCC),
		to(#EEEEEE));
	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 35%);
	margin: auto;
	font-family: Calibri, Ariel, sans-serif;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	color: #09C;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 8px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.A label {
	display: block;
	margin-top: 16px;
	padding-bottom: 4px;
}

.radio input {
	display: inline;
}

.radio label {
	margin-right: 24px;
}

#Amor {
	display: block;
	margin-top: 16px;
	padding-bottom: 4px;
}

.A input {
	height: 2em;
	border: 1px solid #999;
	width: 85%;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	padding-top: 1px;
	background-color: white;
}

#monthpay {
	font-weight: bold;
	width: 60%;
	background: #09C;
	margin-left: 24%;
	margin-top: 8px;
	color: #fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #999;
	font-size: 11px;
}

#message {
	color: white;
	font-weight: bold;
	background-color: red;
	text-align: center;
}

sup {
	color: Red;
}
/*header style*/
#headerSection {
	/*position:relative;*/
	background-color: #ff8433;
}

#mainLogo {
	display: block;
	float: left;
	height: 33px;
	position: absolute;
	width: 100px;
  /* Just so it's visible */
}

#mainLogo img
{
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	width:150px;
	
}

#search {
	left: 50%;
	margin: 0 0 0 -135px;
	position: absolute;
	top: 42px;
}

#search input[type="text"]
{
	margin: 0 0 0 0;
    padding: 0;
    height: 28px;
    width:20em;
}
#search input[type="image"]
{
	float: right;
    margin: 0 0 0 0;
    padding: 0;
    text-indent: -9999em;
    width:30px;
}

#client-manager
{
	background-color: #ff8433;/* border:1px solid #c6c6c5;*/
	clear: both;
	/*float: right;*/
	margin: 0 0 10px 0;
	overflow: hidden;
	padding: 10px 10px 0 10px;
	position: absolute;
	right: 9em;
	/*top: 18px;*/
	height: 90px;
}


#admin ul li
{
	/*text-algin:right;
	font: "gill-ss-std", Verdana, Geneva, sans-serif;
	display:inline-block;
	position:relative;
	height: 16px;
	padding: 0 8px;*/
	float:left; 
	display:block; 
	margin:-1em 0 0 0; 
	padding:0 10px; 
	border-left:#ccc solid 1px;
}

#cart
{
	clear: both;
	color: #666;
	font-family: "gill-ss-std-bold", Verdana, Geneva, sans-serif;
	list-style: none;
	margin: 0;
	text-transform: uppercase;
	bottom: -0.3em;
    position: relative;
}

#cart img
{
	width: 30px;
	padding-right: 1.5em;
}
/*header style*/


/*nav bar style*/
#promotion
{
	float:left;
	padding-top:5px;
	width:650px;
	color:yellow;
}
/*nav bar style*/

/*footer style*/
#designer
{
	float: right;
	font-size: smaller;
	font-family: "arial", sans-serif;
	color: white;
}
/*footer style*/

/*home page style*/
/*home page style*/
