@CHARSET "ISO-8859-1";

html 
{
	margin: 0;
	padding: 0;
	color: #000;
	/*background: #a7a09a;*/
}

#wrap 
{
	width: 1024px;
	margin: 0 auto;
	background: #ffcc99;
}

#header 
{
	padding: 5px 10px;
	background: #ddd;
	height:100px;
	background-color: #ffa64d;
}

h1 
{
	margin: 0;
}

#navBar 
{
	/*padding: 5px 10px;*/
	background-color: #f57900;
	padding: 0 0 10px 0;
    height: 20px;
    width: 100%;
}

#navBar ul 
{
	list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow: hidden;
    float:left;
}

#navBar li 
{
	/*display: inline;*/
	margin: 0;
	float:left;
	/*border:#ccc solid 1px;
	position:absolute;*/
	padding-left: 20px;
	padding-right:20px;
	display: inline-block;
    /*height: 20px;
    width: 33.33333%;   (100 / numItems)% */
    width:auto;
    line-height: 20px;
    text-align: center;
    border-right: 1px solid #fff;
    white-space: nowrap;
}

#navBar a:link, a:visited {
    display: inline-block;
    width: auto;
    font-weight: bold;
    color: #FFFFFF;
    /*background-color: #98bf21;*/
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#navBar a:hover, a:active {
    background-color: #7A991A;
}

#main 
{
	/*width: 800px;*/
	padding: 10px;
	margin:0 auto;
	background: #c8b8c9;
}

h2 
{
	margin: 0 0 1em;
}


#footer 
{
	clear: both;
	padding: 5px 10px;
	background: #cc9;
	height: 10px;
	background-color: #ff8433;
}

* html #footer 
{
	height: auto;
}
